USE [master]
GO
/****** Object:  Database [GalakPizza]    Script Date: 23.01.2024 00:04:41 ******/
CREATE DATABASE [GalakPizza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GalakPizza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GalakPizza.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GalakPizza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GalakPizza_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GalakPizza].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GalakPizza]
GO
/****** Object:  Table [dbo].[Dodatki]    Script Date: 23.01.2024 00:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dodatki](
	[IDDodatku] [int] IDENTITY(1,1) NOT NULL,
	[IDKategoriiDodatku] [int] NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
	[Cena] [decimal](5, 2) NOT NULL,
	[Zdjecie] [nvarchar](100) NOT NULL,
	[Dostepny] [bit] NOT NULL,
 CONSTRAINT [PK_Dodatki] PRIMARY KEY CLUSTERED 
(
	[IDDodatku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KategoriaDodatkow]    Script Date: 23.01.2024 00:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriaDodatkow](
	[IDKategoriiDodatku] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KategoriaDodatków] PRIMARY KEY CLUSTERED 
(
	[IDKategoriiDodatku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkladPizzy]    Script Date: 23.01.2024 00:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkladPizzy](
	[IDSzczegolyZamowienia] [int] NOT NULL,
	[IDDodatku] [int] NOT NULL,
	[Ilosc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SzczegolyZamowienia]    Script Date: 23.01.2024 00:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SzczegolyZamowienia](
	[IDSzczegolyZamowienia] [int] IDENTITY(1,1) NOT NULL,
	[IDZamowienia] [int] NOT NULL,
	[Przygotowane] [bit] NOT NULL,
 CONSTRAINT [PK_SzczegolyZamowienia] PRIMARY KEY CLUSTERED 
(
	[IDSzczegolyZamowienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 23.01.2024 00:04:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[IDZamowienia] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Godzina] [time](7) NOT NULL,
	[NaWynos] [bit] NOT NULL,
	[Zrealizowano] [bit] NOT NULL,
 CONSTRAINT [PK_Zamowienia] PRIMARY KEY CLUSTERED 
(
	[IDZamowienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dodatki] ON 

INSERT [dbo].[Dodatki] ([IDDodatku], [IDKategoriiDodatku], [Nazwa], [Cena], [Zdjecie], [Dostepny]) VALUES (1, 1, N'Ciasto cienkie', CAST(0.00 AS Decimal(5, 2)), N'cienkie.png', 1)
INSERT [dbo].[Dodatki] ([IDDodatku], [IDKategoriiDodatku], [Nazwa], [Cena], [Zdjecie], [Dostepny]) VALUES (2, 1, N'Ciasto grube', CAST(5.00 AS Decimal(5, 2)), N'grube.png', 1)
INSERT [dbo].[Dodatki] ([IDDodatku], [IDKategoriiDodatku], [Nazwa], [Cena], [Zdjecie], [Dostepny]) VALUES (4, 2, N'Pomidorowy', CAST(0.00 AS Decimal(5, 2)), N'pomidorowy.png', 1)
SET IDENTITY_INSERT [dbo].[Dodatki] OFF
GO
SET IDENTITY_INSERT [dbo].[KategoriaDodatkow] ON 

INSERT [dbo].[KategoriaDodatkow] ([IDKategoriiDodatku], [Nazwa]) VALUES (1, N'Ciasto')
INSERT [dbo].[KategoriaDodatkow] ([IDKategoriiDodatku], [Nazwa]) VALUES (2, N'Sos spód')
INSERT [dbo].[KategoriaDodatkow] ([IDKategoriiDodatku], [Nazwa]) VALUES (3, N'Ser')
SET IDENTITY_INSERT [dbo].[KategoriaDodatkow] OFF
GO
INSERT [dbo].[SkladPizzy] ([IDSzczegolyZamowienia], [IDDodatku], [Ilosc]) VALUES (1, 1, 1)
INSERT [dbo].[SkladPizzy] ([IDSzczegolyZamowienia], [IDDodatku], [Ilosc]) VALUES (1, 4, 1)
INSERT [dbo].[SkladPizzy] ([IDSzczegolyZamowienia], [IDDodatku], [Ilosc]) VALUES (1, 8, 1)
GO
SET IDENTITY_INSERT [dbo].[SzczegolyZamowienia] ON 

INSERT [dbo].[SzczegolyZamowienia] ([IDSzczegolyZamowienia], [IDZamowienia], [Przygotowane]) VALUES (1, 1, 1)
INSERT [dbo].[SzczegolyZamowienia] ([IDSzczegolyZamowienia], [IDZamowienia], [Przygotowane]) VALUES (2, 2, 0)
INSERT [dbo].[SzczegolyZamowienia] ([IDSzczegolyZamowienia], [IDZamowienia], [Przygotowane]) VALUES (3, 2, 0)
SET IDENTITY_INSERT [dbo].[SzczegolyZamowienia] OFF
GO
SET IDENTITY_INSERT [dbo].[Zamowienia] ON 

INSERT [dbo].[Zamowienia] ([IDZamowienia], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (1, CAST(N'2024-01-22' AS Date), CAST(N'00:01:25.0133333' AS Time), 0, 1)
INSERT [dbo].[Zamowienia] ([IDZamowienia], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (2, CAST(N'2024-01-22' AS Date), CAST(N'00:02:49.3200000' AS Time), 1, 0)
INSERT [dbo].[Zamowienia] ([IDZamowienia], [Data], [Godzina], [NaWynos], [Zrealizowano]) VALUES (4, CAST(N'2024-01-22' AS Date), CAST(N'14:09:13.7466667' AS Time), 0, 0)
SET IDENTITY_INSERT [dbo].[Zamowienia] OFF
GO
ALTER TABLE [dbo].[Dodatki]  WITH CHECK ADD  CONSTRAINT [FK_Dodatki_Dodatki] FOREIGN KEY([IDDodatku])
REFERENCES [dbo].[Dodatki] ([IDDodatku])
GO
ALTER TABLE [dbo].[Dodatki] CHECK CONSTRAINT [FK_Dodatki_Dodatki]
GO
ALTER TABLE [dbo].[Dodatki]  WITH CHECK ADD  CONSTRAINT [FK_Dodatki_KategoriaDodatków] FOREIGN KEY([IDKategoriiDodatku])
REFERENCES [dbo].[KategoriaDodatkow] ([IDKategoriiDodatku])
GO
ALTER TABLE [dbo].[Dodatki] CHECK CONSTRAINT [FK_Dodatki_KategoriaDodatków]
GO
USE [master]
GO
